.titprin{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #716E6E;
    text-align: center;
    padding-bottom: 2%;   
}

#select{
    margin-left: 15%;
    margin-right: 15%;

}

#ancho{
    width: 70%;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

#tabla{
    width: 100%;
}

th{
    text-align: center;
}

tr{
    text-align: center;
}

imagen{
    align-items: center;
}