@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper{
  height: 100vh;
}

.bodyPreguntas{
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .card{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: #fff;
  }
  
  .card-body{
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 18px 18px 15px -3px rgba(0,0,0,0.1);
    
  }

  .card-title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: black;
  }

  .parrafo{
    font-family: 'Poppins', sans-serif;
    color: black;
  }

  .subtitulo{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
    color: black;
    align-items: center;
  }

  .btn-siguiente{
    border-radius: 100px;
    background-color: #572ab0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
  }