.containerSidebar{
    display: flex;
}

.mainChildren{
    width: 100%;
}

.sidebar{
    background: #572AB0;
    color: #fff;
    height: auto;
    width: 300px;
    transition: all 0.5s;
}

@media (max-width: 576px ) and (min-width: 100px ) {
    .sidebar{
        background: #572AB0;
        color: #fff;
        width: 300px;
        height: 100;
        transition: all 0.5s;
    }
}

@media (max-width: 767px ) and (min-width: 577px ) {
    .sidebar{
        background: #572AB0;
        color: #fff;
        width: 300px;
        height: 100vh;
        transition: all 0.5s;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
  
   .sidebar{
    height: 100vh;
   }
    
  }

.top-section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo{
    font-size: 30px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50%;
}

.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
}

.link:hover{
    background: #EDECEC;
    color: #572AB0;
    transition: all 0.5s;
    list-style: none;
    text-decoration: none;
}

.active{
    background: #EDECEC;
    color: #572AB0;
}

.icon {
    font-size: 20px;

}

.link-text{
    font-size: 16px;

}